{% set map = salt['grains.filter_by']({
    'default': {
        'docroot': '/www/html',
        'www_group': 'www-data',
        'www_user': 'www-data',
    },
    'Debian': {
        'docroot': '/www/html',
        'www_group': 'www-data',
        'www_user': 'www-data',
    },
    'RedHat': {
        'docroot': '/var/www/html',
        'www_group': 'apache',
        'www_user': 'apache',
    },
    'Suse': {
        'docroot': '/srv/www/htdocs',
        'www_group': 'www',
        'www_user': 'wwwrun',
        'web_server': 'apache2',
        'database': 'mariadb',
        'web_service': 'apache2',
        'db_service': 'mysql',
        'web_php': 'apache2-mod_php5',
        'php_dep': ('php5-phar','php5-openssl','php5-zlib','php5-mysql','php5-curl','php5-calendar','php5-dom','php5-posix','php5-gd','php5-iconv','php5-json','php5-xmlwriter','php5-xmlreader','php5-ftp','php5-intl','php5-bz2','php5-memcache','php5-zip'),
    },
}, merge=salt['pillar.get']('wordpress:lookup')) %}
